<h1>Balance ton gossip</h1>

<%= form_tag (gossips_path) do %>
 
  <%= label_tag 'anonymous_author', 'Yeah !!! Du gossip' %>
  <%= text_field_tag 'anonymous_author' %>
 
  <%= label_tag 'content', 'Mets-toi à table !' %>
  <%= text_area_tag 'content' %>
 
  <%= submit_tag "Tu es sur ? Vas y balance ton gossip"%>
<% end %>
